.container {
    padding-left: 200px;
    flex-grow: 1;
    margin-left: 300px;
    color: purple;
    font-size: x-large;
    padding: 0px 8px 46px 16px;
}

.sidebar {


/*    height: 100%; */
/*    width: 200px; */
/*    position: fixed; */
/*    z-index: 0; /* Stay on top = 1*/
/*    top: 0;  Stay at the top */


    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: grey;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px;
}

.sidebar-item {
    padding: 0px 8px 46px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}


