<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT DOGS!</title>
    
</head>
<body>
    {% extends 'base.html' %} {% block content %}
    <h1 style="text-align: center;">About Dog Tracker</h1>
    <br>
    A full-stack web app for keeping track of dogs. Shows off my understanding of Python, Django and postgres SQL. Full CRUD and connected to a Postgres database. Also includes Django Authentication.
<br><br>
Learning Python and Django is fun! Read more at <a href="https://docs.djangoproject.com/en/3.2/">Django's Documentation</a>.
    {% endblock %}
</body>
</html>