{% load static %}
<!--THIS IS THE NAV BAR FILE (contains all links)-->
<!DOCTYPE html>
<html lang="en">
  <head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Dogs BASE.html</title>
    
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <!-- <script src="{% static 'scripts/main.js' %}" defer></script> -->

  </head>
  <body >
        <nav class="sidebar" role="navigation" aria-label="sidebar navigation">
        <div>
            <a class="sidebar-item" id="nav-all-dogs" href="/">All Dogs</a>
        </div>

        <div>
            <a class="sidebar-item" id="nav-add-dogs" href="/">Add Dogs</a>
        </div>

        <div>
            <a class="sidebar-item" id="nav-about-us" href="/">About Us</a>
        </div>

        <div>
            <a class="sidebar-item" id="nav-contact-us" href="/">Contact Us</a>
        </div>

        </nav>
    
        <div class="container">
     
          {% block content %}{% endblock %}
     
        </div>
      </div>
    </div>
  </body>
</html>