{% extends 'base.html' %} {% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT DOGS!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" />

</head>
<body>
     
    <h1 style="text-align: center;">Contact Us</h1> 
    <a href="mailto:jared.stearne@gmail.com" >Email Us</a> with questions, feedback or features you'd like to see!<br><br>
    
    
    {% endblock %}
</body>
</html>