<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT DOGS!</title>
</head>
<body>
    {% extends 'base.html' %} {% block content %}
    <h1>................................................Dog Details</h1>

    <div class="detail__container">
        <div class="buttons">
            <a href="{% url 'dog_detail' dog.pk %}" class="button is-info">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="{% url 'dog_delete' dog.pk %}" class="button is-danger">
                <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </a>
        </div>
        <div class="detail__about">
            <h4 class="title is-4">About</h4>
            <p>{{dog.name}}</p>
        </div>
    {% endblock %}
</body>
</html>