{% extends 'base.html' %} {% block content %}

<h1 class="title pt-5" style="font-size: 62px; text-align: center;">Dog Tracker</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>

  <a class="button is-dark" href="{% url 'dog_list' %}">Clear Search</a>
</form>
<div class="gallery">
  {% for dog in dogs %}
  <a href="{% url 'dog_detail' dog.pk %}">
    <div>
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{dog.img}}" alt="{{dog.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{dog.name}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
  <a class="button is-dark" href="{% url 'dog_create' %}">Add Dog to the Database</a>

<br><br>
All images from the Amercian Kennel Club. Visit them to learn more! 
<br><br>
<a href="https://www.akc.org/?utm_source=google&utm_medium=cpc&utm_campaign=20200413_akc-rev_responsivesearchad1&utm_content=CoreBrand_AKC&utm_term=akc.org&gclid=Cj0KCQjwwY-LBhD6ARIsACvT72Nfq_npwC-rltFxh_QlHzSHfCuGWCwpnsYpDrWdLSfywz23H3UsH_UaAjsMEALw_wcB">AKC.org</a>
</div>

{% endblock %}